specifications.pdf
specifications.odt
Architecture/OverClouds-Architecture-Draft-1.mindnode
Architecture/Overclouds-Architecture-Draft-2.mindnode
Architecture/V1/OverClouds-Architecture-Draft-1.mindnode
Architecture/V2/Overclouds-Architecture-Draft-2.mindnode
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/OverClouds.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
encodings.xml
codeStyleSettings.xml
latexExamples.tex
Architecture/Overclouds-Architecture-Draft-3-Latest.mindnode
Implementations/Consensus/oc-consensus/node_modules/web3/node_modules
Implementations/Consensus/oc-consensus/node_modules/web3/lib/web3/methods
Implementations/Consensus/oc-consensus/node_modules
Architecture/Overclouds-Architecture-Draft-3.mindnode
Architecture/Overclouds-Architecture-Draft-4-Latest.mindnode
Architecture/storage/Overclouds-Storage-Architecture-Latest.mindnode
Implementations/Storage/oc-core/node_modules
Implementations/Storage/tests
Implementations/Storage/oc-core/secret/index.js
Implementations/Storage/oc-core/static/bundle.js
Implementations/Storage/oc-core/static/main.css
