specifications.pdf
specifications.odt
Architecture/OverClouds-Architecture-Draft-1.mindnode
Architecture/Overclouds-Architecture-Draft-2.mindnode
Architecture/V1/OverClouds-Architecture-Draft-1.mindnode
Architecture/V2/Overclouds-Architecture-Draft-2.mindnode
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/OverClouds.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
